<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">              
        <!-- Second table with widths classes -->              
        <table class="table row mx-0">              
            <thead class="w-100">              
                <tr class="row mx-0 bg-primary">              
                    <th class="col-3">#</th>              
                    <th class="col-3">First</th>              
                    <th class="col-3">Last</th>              
                    <th class="col-3">Handle</th>              
                </tr>              
            </thead>              
            <tbody class="w-100">              
                <tr class="row mx-0">              
                    <th >1</th>              
                    <td >This is a remarkably long phrase.</td>              
                    <td >Javascript</td>              
                    <td >Python</td>              
                </tr>              
                <tr class="row mx-0">              
                    <th >2</th>              
                    <td >Having fun with Bootstrap 4!</td>              
                    <td >CSS</td>              
                    <td >Bootstrap</td>              
                </tr>              
                <tr class="row mx-0">              
                    <th >3</th>              
                    <td >PHP</td>              
                    <td >npm</td>              
                    <td >nodejs</td>              
                </tr>              
            </tbody>              
        </table>              
        <!-- End second table -->              
    </div>
</body>
</html>